.detalles-img, .card-pelicula-img {
  width: 100%;
  height: auto;
  border-radius: var(--space-1);
  display: block;
  object-fit: cover;
}

.detalles-poster {
  max-width: 400px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .detalles-poster {
    margin: 0;
  }
}